/*Fonte do google - montserrat*/


@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Montserrat:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;

}

section {

    min-height: 100vh;
    width: 100%;
    background: #121321;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    perspective: 1000px;
}

section::before {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(-150px, -100px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    z-index: -1;
}

section::after {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(150px, 100px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    z-index: -1;
}

.container {
    position: relative;
    height: 275px;
    width: 500px;
    z-index: 100;
    transition: 0.6s;
    transform-style: preserve-3d;

}

.container:hover {

    transform: rotateY(180deg);


}

.container .card {
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 255, 0, 0.25);
    backface-visibility: hidden;


}

.front-face header,
h5,
.front-face .logo {

    display: flex;
    align-items: center;

}

.front-face header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.front-face .logo img {

    width: 125px;
    margin-right: auto;
    display: flex;


}

h5 {


    font-size: 16px;
    font-weight: 300;

}

.front-face .chip {


    width: 100px;


}

.front-face .card-details {

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px;
}

h6 {
    font-size: 16px;
    font-weight: 400;

}

h5.number {
    font-size: 18px;

    letter-spacing: 1px;

}

h5.name {
    margin-top: 20px;

}

.card.back-face {

    border: none;
    padding: 15px 25px 25px;
    transform: rotateY(180deg);

}

.card.back-face h6 {

    font-size: 8px;



}

.card.back-face .magnetic-strip {

    position: absolute;
    height: 45px;
    top: 40px;
    left: 0;
    width: 100%;
    background: #000;

}

.card.back-face .signature {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 80px;
    background-position: 8px;
    height: 40px;
    width: 85%;
    background: repeating-linear-gradient(#fff, #fff 3px, #efefef 0px, #efefef 9px, #fff 10px);
    border-radius: 7px;


}

.signature i {
    color: #000;
    font-size: 12px;
    margin-right: -35px;
    background: repeating-linear-gradient(#fff, #fff 3px, #efefef 0px, #efefef 9px, #fff 10px);
    border-radius: 7px;
    padding: 4px 6px;
    border-radius: 4px;
    z-index: 1;
}

.card.back-face h5 {
    font-size: 8px;
    margin-top: 15px;


}